{% extends "core/base.html" %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contacto.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading"></span>
{% endblock %}


{% block content %}
<div class= "row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Si quieres conocerme un poco más, pica en el icono de linkedin que está mas abajo o enviame un email, un saludo!</p>
        <br>
        <p><b>Email: </b>rafu6891@gmail.com</p>
        <p>Hablemos!</p>
    </div>
</div>
{% endblock %}



